@model VidlyBest.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want do Delete this movie?</h2>

@using (Html.BeginForm("Index", "Movies"))
{

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-default">No</button>
}
 /
<br />
@using (Html.BeginForm("Delete2", "Movies"))
{


    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-default">Yes</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}