@model VidlyBest.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><b>DELETE MOVIE</b></h5>
        </div>
        <div class="modal-body">
            Are you sure you want to Delete this movie? - <b>@Model.Movie.Name</b>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-primary" value="No" onclick="location.href='@Url.Action("Index", "Movies")'" />


            @using (Html.BeginForm("Delete2", "Movies"))
            {

                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-default">Yes2</button>
            }

            @*<br />
                <input id="@Model.Movie.Id" type="button" class="btn btn-default" value="Yes" onclick="location.href='@Url.Action("Delete2", "Movies")'" />*@
        </div>
    </div>
</form>

<input type="button" class="btn btn-primary" value="No" onclick="location.href='@Url.Action("Index", "Movies")'" />


@using (Html.BeginForm("Delete2", "Movies"))
{

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <input type="button" class="btn btn-default" value="Yes2" />
}


@*@using (Html.BeginForm("Index", "Movies"))
    {

        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-default">No</button>
    }
     /
    <br />
    @using (Html.BeginForm("Delete2", "Movies"))
    {


        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-default">Yes</button>
    }*@

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}