@model IEnumerable<VidlyBest.Models.Movie>


@{ ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="text-center">
    <h1><b>Movies</b></h1>
</div>
<br />
@using (Html.BeginForm("Create", "Movies"))
{
    <button type="submit" class="btn btn-default btn-block"> New Movie </button>
}

<br />
@using (Html.BeginForm("Search", "Movies", FormMethod.Get))
{
    <h4>Here you can search for a movie</h4>

    @Html.TextBox("searching")

    <a style="color: rgb(65,105,225)">&nbsp;</a>

    <button type="submit" class="btn btn-default btn-sm">Search</button>
}

<br />
@*
    To samo co wyzej z Html Begin form ale w inny sposób, tamten wyzej dla mnie bardziej pasuje
    ale moze kiedys mi sie przyda ten co nizej

    @Html.ActionLink("New Movie", "Create", "Movies", null, new { @class = "btn btn-default"})

*@


<div class="row justify-content-center">
    <div class="col-8">
        <div class="card-header d-flex justify-content-between" style="background-color:white;">
        </div>
        @foreach (var movie in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title">#@movie.Id </a>
                  

                    <div style="display:flex;align-items:center">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                        <a class="undecorated" style="display:flex;cursor:pointer;margin-right:10px" onclick="location.href='@Url.Action("Edit", "Movies", new { id = movie.Id })'" asp-route-id="@movie.Id" asp-route-name="@movie.Name">

                            <p style="margin-bottom:0;color:rgb(86,89,92)">Edit product</p>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 width="20" height="20"
                                 viewBox="0 0 172 172"
                                 style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#56595c"><path d="M130.88125,17.2c-2.93403,0 -5.86843,1.12051 -8.10729,3.35938l-13.84062,13.84063l28.66667,28.66667l13.84062,-13.84063c4.47773,-4.47773 4.47773,-11.73685 0,-16.21458l-12.45208,-12.45208c-2.23887,-2.23887 -5.17326,-3.35937 -8.10729,-3.35937zM97.46667,45.86667l-67.31068,67.31067c0,0 5.26186,-0.47147 7.22266,1.48933c1.9608,1.9608 0.34669,14.792 2.75469,17.2c2.408,2.408 15.15831,0.71299 16.98724,2.54192c1.82894,1.82893 1.70209,7.43542 1.70209,7.43542l67.31067,-67.31067zM22.93333,131.86667l-5.40859,15.31875c-0.21262,0.60453 -0.32239,1.24042 -0.32474,1.88125c0,3.16643 2.5669,5.73333 5.73333,5.73333c0.64083,-0.00235 1.27672,-0.11212 1.88125,-0.32474c0.0187,-0.00737 0.03737,-0.01483 0.05599,-0.02239l0.14557,-0.04479c0.01122,-0.00743 0.02242,-0.01489 0.03359,-0.0224l15.08359,-5.31901l-8.6,-8.6z"></path></g></g>
                            </svg>
                        </a>
                        <p style="margin-bottom:0;">|</p>
                        <a class="undecorated" onclick="location.href='@Url.Action("Delete", "Movies", new { id = movie.Id })'" asp-route-id="@movie.Id" asp-route-name="@movie.Name">
                            <div style="display:flex;cursor:pointer;margin-left:10px">
                                <p style="margin-bottom:0;color:rgb(203,68,74)">Delete product</p>
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                     width="20" height="20"
                                     viewBox="0 0 172 172"
                                     style=" fill:#000000;">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#cb444a"><path d="M85.91042,14.25495c-3.16203,0.04943 -5.68705,2.6496 -5.64375,5.81172v2.86667h-31.53333c-1.53406,-0.02082 -3.01249,0.574 -4.10468,1.65146c-1.09219,1.07746 -1.70703,2.54767 -1.70704,4.08187h-8.52161c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h103.2c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843h-8.52161c-0.00001,-1.53421 -0.61486,-3.00442 -1.70704,-4.08187c-1.09219,-1.07746 -2.57061,-1.67228 -4.10468,-1.65146h-31.53333v-2.86667c0.02122,-1.54972 -0.58581,-3.04203 -1.68279,-4.1369c-1.09698,-1.09487 -2.59045,-1.69903 -4.14013,-1.67482zM34.4,51.6l10.27969,87.34375c0.67653,5.77347 5.56348,10.12292 11.37708,10.12292h59.88646c5.8136,0 10.69482,-4.34945 11.37708,-10.12292l10.27969,-87.34375z"></path></g></g>
                                </svg>
                            </div>
                        </a>

                        <p style="margin-bottom:0;">|</p>
                        @*   TUUUUUUUUUUU ZMIENIC SCIEZKE PONIZEJ W URL ACTION DO WIDOKU KOSZYKA JAK POWSTANIE !!!!!!!!!!!!!!!!!!      *@
                        <a class="undecorated" onclick="location.href='@Url.Action("Delete", "Movies", new { id = movie.Id })'" asp-route-id="@movie.Id" asp-route-name="@movie.Name">
                            <div style="display:flex;cursor:pointer;margin-left:10px">
                                <p style="margin-bottom: 0; color: rgb(65,105,225)">Add To Cart</p>
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                     width="20" height="20"
                                     viewBox="0 0 172 172"
                                     style=" fill:#000000;">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#cb444a"><path d="M85.91042,14.25495c-3.16203,0.04943 -5.68705,2.6496 -5.64375,5.81172v2.86667h-31.53333c-1.53406,-0.02082 -3.01249,0.574 -4.10468,1.65146c-1.09219,1.07746 -1.70703,2.54767 -1.70704,4.08187h-8.52161c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h103.2c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843h-8.52161c-0.00001,-1.53421 -0.61486,-3.00442 -1.70704,-4.08187c-1.09219,-1.07746 -2.57061,-1.67228 -4.10468,-1.65146h-31.53333v-2.86667c0.02122,-1.54972 -0.58581,-3.04203 -1.68279,-4.1369c-1.09698,-1.09487 -2.59045,-1.69903 -4.14013,-1.67482zM34.4,51.6l10.27969,87.34375c0.67653,5.77347 5.56348,10.12292 11.37708,10.12292h59.88646c5.8136,0 10.69482,-4.34945 11.37708,-10.12292l10.27969,-87.34375z"></path></g></g>
                                </svg>
                            </div>
                        </a>

                    </div>

                </div>
                <div class="panel-body">

                    <h4>@movie.Name</h4>


                    <b>Genre:</b> 
                    @movie.Genre.Name
                   

                </div>
                @*<a style="color: rgb(86,89,92)" class="undecorated" asp-action="Details" asp-route-id="@product.ProductId">
                        <div class="card-body">
                            @product.Name
                        </div>
                    </a>*@
            <div class="card-footer text-info" style="display:flex;">
                <br />
                <br />
                <div style="color: rgb(65,105,225)"><br /> &nbsp; &nbsp; &nbsp;  Price:&nbsp;</div>
                <div style="margin-right:20px;color:rgb(86,89,92)"><br />@*@product.Price*@ zł</div>
                <div style="color: rgb(65,105,225)"><br />Quantity:&nbsp;</div>
                <div style="color:rgb(86,89,92)"><br />@movie.NumberInStock</div>
            </div>
            </div>
        }
    </div>
</div>


<br />
<br />
<br />

@*<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
            <th>Cart</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Movies", new { id = movie.Id }, null)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>*@