@model IEnumerable<VidlyBest.Models.Movie>


@{ ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Movies</h2>

@using (Html.BeginForm("Create", "Movies"))
{
    <button type="submit" class="btn btn-default"> New Movie </button>
}

<br />
@using (Html.BeginForm("Search", "Movies", FormMethod.Get))
{
    @Html.TextBox("searching") <input type="submit" value="Search" />
}

<br />
@*
    To samo co wyzej z Html Begin form ale w inny sposób, tamten wyzej dla mnie bardziej pasuje
    ale moze kiedys mi sie przyda ten co nizej

    @Html.ActionLink("New Movie", "Create", "Movies", null, new { @class = "btn btn-default"})

*@

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
            <th>Cart</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Movies", new { id = movie.Id }, null)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>