@model VidlyBest.Models.AspNetUser
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><b>DELETE USER</b></h5>
        </div>
        <div class="modal-body">
            Are you sure you want to Delete this user? - <b>@Model.Email</b>
        </div>

    </div>
</form>

<br />
<input type="button" class="btn btn-primary" value="No" onclick="location.href='@Url.Action("Index", "AspNetUsers")'" />

@using (Html.BeginForm("Delete2", "AspNetUsers", FormMethod.Post, new { style = "display:inline;" }))
{

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-default">Yes</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}