@model IEnumerable<VidlyBest.ViewModels.ShoppingCartRemoveViewModel>

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CartCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
