@model VidlyBest.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Cart</b></h2>
<br />

<div class="text-center">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="text-center btn-default">
                <th class="text-center">Movie Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.RecordId">
                    <td>
                        @Html.ActionLink(item.Movie.Name, "DetailsReadOnly", "Movies", new { id = item.MovieId }, null)
                    </td>
                    <td>
                        @item.Movie.Price zł
                    </td>
                    <td id="item-count-@item.RecordId">
                        @Html.ActionLink("−", "RemoveFromCart", "ShoppingCart", new { id = item.RecordId }, null)
                        &nbsp;
                        @item.Count
                        &nbsp;
                        @Html.ActionLink("+", "AddToCart", "ShoppingCart", new { id = item.MovieId }, null)
                    </td>
                </tr>
            }
            <tr>
                <td> &nbsp;</td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td id="cart-total">
                    @Model.CartTotal zł
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="text-right">
    @using (Html.BeginForm("AddressAndPayment", "Checkout"))
    {
        <button type="submit" class="btn btn-default">Checkout</button>
    }
</div>
